@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/*#maintitle {
background-color: yellow;
}

body {
 background-image: url("images/backgroundtype1.jpg");
 background-color: #cccccc;
 background-repeat: repeat-y;
 background-size: 100% 100%;

}*/

html { 
  background: url(images/backgroundtype2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




p{
  font-family: 'Roboto Condensed',serif;
  font-size: 1.5em;

  padding-left: 2%;
  color: #FEDB06;
  background-color: #FFFFFFFF;

}
h1
{
  font-family: 'Francois One',serif;
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
  color: #FEDB06;
  background-color: #FFFFFFFF;

}

#subheading{
  text-align:center;
 width: 80%;
 padding-left: 10%;
padding-top: -1em;


}


ol li{
  font-family: 'Open Sans',serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;
  text-align: center;


}



.list{
  list-style-position: inside;
  text-align: center;
}


.slideshow-container {
  
  width: 90%;
padding: 10%;

}


.mySlides {
  display: none;
 }

.dots{
  position: relative;
  top: 50%;
}
 
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 0%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  background-color: yellow;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}




.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.videodescription{
  font-family: 'Open Sans',serif;
  font-size: 1.5em;
  padding-left: 2%;
  position:relative;
  top: 10%;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
}

.thanks{
  font-family: 'Open Sans',serif;
  font-size: 1em;
  padding-left: 2%;
  position:relative;
  top: 10%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}