@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/*#maintitle {
background-color: yellow;
}

body {
 background-image: url("images/backgroundtype1.jpg");
 background-color: #cccccc;
 background-repeat: repeat-y;
 background-size: 100% 100%;

}*/

html { 
  background: url(images/backgroundtype2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




p{
  font-family: 'Roboto Condensed',serif;
  font-size: 150%;
  margin-left: 0%;
  padding-left: 0%;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;

}
h1
{
  font-family: 'Francois One',serif;
  font-size: 300%;
  text-align: center;
  text-decoration: underline;
  color: #000000;
  background-color: #FFFFFF;

}

#subheading{
  text-align:center;
  width: 100%;
  padding-top: -1em;


}



ol li{
  font-family: 'Roboto Condensed',serif;
  margin-left: 30%;
  margin-right: 30%;
  padding-left: 0%;
  font-size: 150%;
  font-weight: bold;
  color: #000000;
  text-align: center;
background-color: #FFFFFF;
}



.list{
  list-style-position: inside;
  text-align: center;
}


.slideshow-container {
  padding-top: 5%;
  width: 100%;
padding-left: 5%;

}


.mySlides {
  display: none;
 }

.dots{
  position: relative;
  top: 50%;
}
 
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 0%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  background-color: yellow;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}




.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.videodescription{
  font-family: 'Roboto Condensed',serif

  padding-top: 5%;
  font-size: 100%;
  padding-left: 2%;
  position:relative;
  top: 10%;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px; 
  height: 0; 
  overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
  padding-top: 5%;
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
}

.thanks{
  padding-top: 5%;
  font-family: 'Roboto Condensed',serif;
  font-size: 100%;
  padding-left: 2%;
  position:relative;
  top: 10%;
}



div.gallery {
  
  margin-top: 2.5em;
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 5px solid #777;
}

div.gallery img {
  font-size: 0;
  width: 100%;
  height: auto;
}


* {
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 33%);
  align-items: center;
}

/* Create two equal columns that sits next to each other */
.column {
  padding: 0 4px;
  vertical-align: top;
}

.column img {
  margin-top: 0px;
  vertical-align: top;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}